.footer {
    display: flex;
    width: 86%;
    height: 100px;
    padding: 0 7%;
    background-color: #EEEEEE;
}

.footer-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}