.header {
    position: relative;
    width: 100%;
    background-color: #EEEEEE;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 99;
}

.header-container {
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 7%; 
}

.cart-container {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cartimg {
    width: 36px;
    height: 36px;
}

.login,
.register {
    margin:0 10px;
    cursor: pointer;
}

.search {
    border: none;
    height: 36px;
    width: 36px;
    border-radius: 10px;
    padding-left: 24px;
    background: url(../assets/search.png) no-repeat;
    background-color: #FFFFFF;
    background-size: 24px 24px;
    background-position: center;
    cursor: pointer;
    transition-property: width , border-radius, box-shadow,background-position;
    transition-duration: 300ms;
}

.search:focus {
    width: 200px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background-position: left;
}

.option-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 48%;
}