.shop-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 86%;
    padding: 0 7%;
    background-color: rgb(201, 198, 194);
    padding-top: 50px;
}

.category-contaienr {
    width: 20%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.category {
    width: 94%;
    padding: 20px 3%;
    font-size: 22px;
    background-color: rgb(185, 185, 185);
    border-radius: 15px;
}

.commodityscontainer {
    width: 72%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}